html {
    background-color: #deded8;
    font-family: trebuchet, geneva, sans-serif;
  }
  header {
    background-color: #333;
    color: #ccc;
    text-align: center;
    border-bottom: 1px solid;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  section {
    padding: 0.5rem;
  }
  body {
    padding: 0.5rem;
  }
  footer {
    text-align: center;
  }

  #foot {
    text-align: center;
  }